#bookpage{
    @include FlexCenter();
    flex-direction: column;

    #book-header{
        @include FlexCenter();
        margin-top: 2rem;
        flex-direction: column;
        p{
            width: 70%;
            text-align: center;
            padding: 10px 0px;
        }
    }

    #book-form{
       top:32%;
       background-color: $bgcolor2;
        table{
            td{
             padding: 10px 20px;
            }
            select{
                width: 100%;
                padding: 10px;
                border: 2px solid grey;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                &:hover{
                    border: 2px solid #AD343E;
                }
            }
            input{
                padding: 10px;
                width: 100%;
                text-align: center;
                border: 2px solid grey ;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                &:hover{
                    border: 2px solid #AD343E;
                }
            }   
        }
        #book-button{
            button{
                background-color: #AD343E;
            }

    }

    }

    #location{
        margin-top: 20%;
    }

}

@media (min-width : 0px) and (max-width:575.98px){
    #bookpage{
        #book-header{
            h1{
                font-size: 2.5rem;
                font-weight: 600;
            }
        }
        #book-form{
            margin-top: 14rem;
            width: 70%;
        }
        #location{
            margin-top: 30rem;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #bookpage{
        #book-header{
            h1{
                font-size: 2.5rem;
                font-weight: 600;
            }
        }
        #book-form{
            margin-top: 14rem;
            width: 70%;
        }
        #location{
            margin-top: 30rem;
        }
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    #bookpage{
        #book-header{
            h1{
                font-size: 2.5rem;
                font-weight: 600;
            }
        }
        #book-form{
            margin-top: 10rem;
            width: 70%;
        }
        #location{
            margin-top: 25rem;
        }
    }
}
 
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #bookpage{
        #book-form{
            margin-top: 12rem;
            width: 70%;
        }
        #location{
            margin-top: 25rem;
        }
    }
}
 