#aboutpage {
    display: flex;
    flex-direction: column;
    #aboutimage {
        width: 100%;
        position: relative;
        .img {
            width: 100%;
        }
    }

    #playbutton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        gap: 10px;
    }

    #boxs {
        @include FlexCenter();
        gap: 3rem;
        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3rem;
            gap: 20px;
            p {
                padding-top: 10px;
            }
        }
    }

    #mainbox{
        background-color: #F9F9F7;
        #boxes{
            #box1 , #box2 , #box3 , #box4{
                background-color: white;
            }
        }
        #test{
            width: 30%;
            padding: 3rem;
        }
    }
    #leftbox{
        #leftbox-header{
            width: 90%;
            p{
                font-family: $dmsans;
            }
        }
    }
}
@media (min-width : 0px) and (max-width:575.98px){
    #aboutpage {

        #aboutimage{
            img{
               width: 100%;
            }
            #playbutton{
                img{
                   width: 30%;
                }
                h1{
                    font-size: 1rem;
                }
            }
        }
        #boxs{
            display: flex;
            flex-direction: column;
        }
      
        #mainbox{
           @include FlexCenter();
           flex-direction: column;
           
            #test {
                width: 100%;
            }
            #leftbox{
                text-align: center;
                #leftbox-header{
                    width: 100%;
                    h1{
                        font-size: 2rem;
                        font-weight: 600;
                    }
                }
            }
              #boxes{ 
                justify-content: center;
                padding-left: 2rem;
            }
            #rightbox{
                width: 100%;
                padding-bottom: 10px;
            }
        }
        
      }

}
@media (min-width: 576px) and (max-width: 767.98px) {
    #aboutpage {

        #aboutimage{
            img{
               width: 100%;
            }
            #playbutton{
                img{
                   width: 30%;
                }
                h1{
                    font-size: 1.5rem;
                }
            }
        }
        #boxs{
            display: flex;
            flex-direction: column;
        }
      
        #mainbox{
           @include FlexCenter();
           flex-direction: column;
           
            #test {
                width: 100%;
            }
            #leftbox{
                text-align: center;
                #leftbox-header{
                    width: 100%;
                    h1{
                        font-size: 2rem;
                        font-weight: 600;
                    }
                }
            }
              #boxes{ 
                justify-content: center;
                padding-left: 6rem;
            }
            #rightbox{
                width: 100%;
                padding-bottom: 10px;
            }
        }
        
      }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  #aboutpage {

    #aboutimage{
        img{
           width: 100%;
        }
        #playbutton{
            img{
               width: 20%;
            }
            h1{
                font-size: 2rem;
            }
        }
    }
    #boxs{
        display: flex;
        flex-direction: column;
    }
  
    #mainbox{
       @include FlexCenter();
       flex-direction: column;
       
        #test {
            width: 100%;
        }
        #leftbox{
            text-align: center;
            #leftbox-header{
                width: 100%;
                h1{
                    font-size: 2rem;
                    font-weight: 600;
                }
            }
        }
          #boxes{ 
            justify-content: center;
            padding-left: 10rem;
        }
        #rightbox{
            width: 100%;
            padding-bottom: 10px;
        }
    }
    
  }
 
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  
    #aboutpage {

        #aboutimage{
            img{
               width: 100%;
            }
            #playbutton{
                img{
                   width: 25%;
                }
                h1{
                    font-size: 3rem;
                }
            }
        }
        #boxs{
            display: flex;
            flex-direction: column;
        }
      
        #mainbox{
           @include FlexCenter();
           flex-direction: column;
           
            #test {
                width: 100%;
            }
            #leftbox{
                text-align: center;
                #leftbox-header{
                    width: 100%;
                    h1{
                        font-size: 2rem;
                        font-weight: 600;
                    }
                }
            }
              #boxes{ 
                justify-content: center;
                padding-left: 10rem;
            }
            #rightbox{
                width: 100%;
                padding-bottom: 10px;
            }
        }
        
      }
 }
