#menupage{
    #menu-header{
        flex-direction: column;
        @include FlexCenter();
        h1{
            font-family: 'Fair Display';
        }
        #menu-navigation{
            padding: 15px 0px;
            .button{
                color: white;
                margin: 0px 10px;
                background-color: #AD343E;
                padding:5px 20px;
                border:2px solid #AD343E;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
            }
        }
    }

    #menu-content{
        @include FlexCenter();
        #menuitem{
            @include FlexCenter();
            flex-direction: column;
            margin: 20px 10px;
            #iteminfo {
                @include FlexCenter();
                flex-direction: column;
                padding: 10px 0px;
                
                #price{
                    color: #AD343E;
                    font-weight: 1000;
                }
                #name{
                    color: $color1;
                    padding: 10px 0px;
                }
                #info{
                    color: $color1;
                    width: 70%;
                }
                }
        }
    }

    #orderapp{
        @include FlexCenter();
        padding: 5rem 0px;
        background-color: $bgcolor2;
        .appimg{
            width: 100%;
            padding: 2rem 5rem;
            background-color: white;
            border:2px solid white;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
}
    }
    #leftdiv{
        justify-content: start;
        align-items: start;
        flex-direction: column;
        width: 30%;
        p{
            color: $color1;
            width: 60%;
        }
    }
    #rightdiv{
        width: 50%;
        #firstrow{
            @include FlexCenter();
        }
        #secondrow{
            @include FlexCenter();
            padding: 20px 0px
        }
        #thirdrow{
            @include FlexCenter();
        }
    }
}

@media (min-width : 0px) and (max-width:575.98px){
    #menupage{
        #menu-header{
            h1{
                font-size: 2.5rem;
                font-weight: 600;
            }
        }
        #menu-navigation{
            display: flex;
            gap:20px
        }
        #orderapp{
            display: flex;
            flex-direction: column;
            #leftdiv{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                h1{
                    font-size:2rem;
                    font-weight: 600;
                }
            }
            #rightdiv{
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                #firstrow{
                    display: flex;
                    flex-direction: column;
                    img{
                        padding: 2rem;
                    }
                }
                #secondrow{
                    display: flex;
                    flex-direction: column;
                    img{
                        padding: 2rem;
                    }
                }
                #thirdrow{
                    display: flex;
                    flex-direction: column;
                    img{
                        padding: 2rem;
                    }
                }
            }
           }
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    #menupage{
        #menu-header{
            h1{
                font-size: 2.5rem;
                font-weight: 600;
            }
        }
        #menu-navigation{
            display: flex;
            gap:20px
        }
        #orderapp{
            display: flex;
            flex-direction: column;
            #leftdiv{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                h1{
                    font-size:2rem;
                    font-weight: 600;
                }
            }
            #rightdiv{
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                #firstrow{
                    display: flex;
                    flex-direction: column;
                    img{
                        padding: 2rem;
                    }
                }
                #secondrow{
                    display: flex;
                    flex-direction: column;
                    img{
                        padding: 2rem;
                    }
                }
                #thirdrow{
                    display: flex;
                    flex-direction: column;
                    img{
                        padding: 2rem;
                    }
                }
            }
           }
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
   
   #menupage{
    #menu-header{
        h1{
            font-size: 4rem;
            font-weight: 600;
        }
    }
       #menu-content{
        padding: 0rem 1rem;
       }
       #orderapp{
        display: flex;
        flex-direction: column;
        #leftdiv{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1{
                font-size:2rem;
                font-weight: 600;
            }
        }
        #rightdiv{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            #firstrow{
                img{
                    padding: 1rem;
                }
            }
            #secondrow{
                img{
                    padding: 1rem;
                }
            }
            #thirdrow{
                img{
                    padding: 1rem;
                }
            }
        }
       }
   }
}
   
@media (min-width: 992px) and (max-width: 1199.98px) {
        #menu-content{
            padding: 0rem 1rem;

           }
           #orderapp{
            display: flex;
            flex-direction: column;
            #leftdiv{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                h1{
                    font-size:2rem;
                    font-weight: 600;
                }
            }
            #rightdiv{
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                #firstrow{
                    img{
                        padding: 1rem;
                    }
                }
                #secondrow{
                    img{
                        padding: 1rem;

                    }
                }
                #thirdrow{
                    img{
                        padding: 1rem;

                    }
                }
            }
           }
 }
     