#aboutpage {
    display: flex;
    flex-direction: column;
    #aboutimage {
        width: 100%;
        position: relative;
        .img {
            width: 100%;
        }
    }

    #playbutton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        gap: 10px;
    }

    #boxs {
        @include FlexCenter();
        gap: 3rem;
        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3rem;
            gap: 20px;
            p {
                padding-top: 10px;
            }
        }
    }

    #mainbox{
        background-color: #F9F9F7;
        #boxes{
            #box1 , #box2 , #box3 , #box4{
                background-color: white;
            }
        }
        #test{
            width: 20%;
        }
    }
    #leftbox{
        #leftbox-header{
            width: 90%;
            p{
                font-family: $dmsans;
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
  #aboutpage{
    #aboutimage{
        img{
           width: 100%;
        }
        #playbutton{
            img{
               width: 20%;
            }
            h1{
                font-size: 2rem;
            }
        }
    }
    #boxs{
        display: flex;
        flex-direction: column;
    }
    #mainbox{
        display: flex;
        justify-content: start;
        width: 100%;
        background-color: red;
        #test{
            background-color: green;
        }
        #leftbox{
            width: 100%;
            #leftbox-header{
                width: 100%;
            }
        }
    }
  }
  #rightbox{
    width: 100%;
  }
}
 
  @media (min-width: 992px) and (max-width: 1199.98px) {
  
 }