#browse {
    @include FlexCenter();
    padding: 20px;

    #box1,#box2,#box3,#box4 {
        @include FlexCenter();
        font-family: 'Fairplay Display';
        border: 1px solid rgb(121, 121, 121);
        border-radius:20px ;
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        -ms-border-radius:20px;
        -o-border-radius:20px;
} 
    #browse-header {
        font-family: 'Fairplay Display';
        font-size: 4rem;
        padding: 3rem 0px;
    } 
    button{
        padding: 15px 0px;
        color: #AD343E;
        font-weight: 600;
    }
}
@media (min-width:0px) and (max-width:575.98px){
    #browse{
        #browse-header{
          font-size: 2rem;
          font-weight: 600;
        }
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    #browse{
        #browse-header{
          font-size: 2rem;
          font-weight: 600;
        }
    }
}