#footer {
    background-color: $bgcolor;
   
       #leftfooter {
           @include FlexStart();
           #leftfooter-p {
               text-align: justify;
               width: 25%;
               font-family:$dmsans
           }
           #leftfooter-icons {
               @include FlexCenter();
               .icon{
               padding: 10px;
               border-radius: 20px;
               background-color: #AD343E
               }
           }
       }
   
       #middlefooter {
           @include FlexCenter();
           align-items: start;    
           #middlefooter-column1,#middlefooter-column2 {
               @include FlexCenter();
               flex-direction: column;
               align-items: center;
   
               #middlefooter-column1-list , #middlefooter-column2-list {
                   display: flex;
                   justify-content: start;
                   flex-direction: column;
                   font-family: $dmsans;
                   font-size: 16px;
                   color: #DBDFD0;
                   padding:2rem;
                   gap: 10px;
               }
           }
       }
   
       #rightfooter{
       @include FlexCenter();
       align-content: start;
       flex-direction: column;
         #rightfooter-image {
           .img {
               border-radius: 10px;
               -webkit-border-radius: 10px;
               -moz-border-radius: 10px;
               -ms-border-radius: 10px;
               -o-border-radius: 10px;
           }
           }
       }
   
       #bottomfooter{
       }
       @media only screen and (max-width: 720px) {
           #footer {
             #leftfooter {
               flex-direction: column;
             }
       
             #middlefooter {
               #middlefooter-column1, #middlefooter-column2 {
                 padding: 2rem;
               }
             }
           }
         }
       
         @media only screen and (min-width: 768px) {
           #leftfooter-p {
             width: 40%;
           }
       
           #leftfooter-icons {
             width: 50%;
           }
       
           #middlefooter-column1, #middlefooter-column2 {
             padding: 2rem;
           }
       
           #bottomfooter {
             padding: 5rem;
           }
         }
       
   }


@media (min-width:0px) and (max-width:575.98px){
  #footer{
    display: flex;
    flex-direction: column;
    #leftfooter{
      padding: 2rem;
      display: flex;
      justify-content: center;
      width: 100%;
      #leftfooter-p{
        width: 80%;
        text-align: center;
      }
    }
    #bottomfooter{
      p{
        font-size: 1rem;
        margin-top: 2rem;
      }
    }
    #rightfooter{
      padding: 2rem;
    }
  }
  
}
@media (min-width: 576px) and (max-width: 767.98px) {
    #footer{
      display: flex;
      flex-direction: column;
      #leftfooter{
        padding: 2rem;
        display: flex;
        justify-content: center;
        width: 100%;
        #leftfooter-p{
          width: 80%;
          text-align: center;
        }
      }
      #bottomfooter{
        p{
          font-size: 1rem;
          margin-top: 2rem;
        }
      }
    }
}
  

@media (min-width: 768px) and (max-width: 991.98px) {
    #footer{
      display: flex;
      flex-direction: column;
      #leftfooter{
        padding: 2rem;
        display: flex;
        justify-content: center;
        width: 100%;
        #leftfooter-p{
          width: 80%;
          text-align: center;
        }
      }
      #bottomfooter{
        p{
          font-size: 1rem;
        }
      }
    }
}
 
@media (min-width: 992px) and (max-width: 1199.98px) {
    #footer{
      display: flex;
      flex-direction: column;
      #leftfooter{
        padding: 2rem;
        display: flex;
        justify-content: center;
        width: 100%;
        #leftfooter-p{
          width: 80%;
          text-align: center;
        }
      }
      #bottomfooter{
        p{
          font-size: 1rem;
        }
      }
    }
}
 