#about {
    @include FlexCenter();
    position: relative;
    padding-top: 10px;
    padding: 5rem;
    background-color: #F9F9F7;

    #aboutabs{
        background-color: #474747;
        position: absolute;
        left: 33%;
        top:45%    ;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }  
    #phone, #envelope, #location, #aboutabs-header{
            padding: 10px 25px;
            display: flex;
            color: white;
            width: 100%;
    } 
    #aboutside {
        width: 29%;
        margin-left: 2rem;
        font-family: 'DM Sans';
    }
    
}

@media (min-width:0px) and (max-width:575.98px){
    #about{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        #aboutimg{
            width: 100%;
        }
        #aboutside{
            width: 100%;
            h1{
                font-size: 1.3rem; 
                font-weight: 600;
             }
             p{
                text-align: justify;
             }
        }
        #aboutabs{
            position: static ;
            top: 12%;
            left: 50%;
            
        }
       
    } 
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #about{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        #aboutimg{
            width: 60%;
        }
        #aboutside{
            width: 100%;
            h1{
                font-size: 1.3rem; 
                font-weight: 600;
             }
             p{
                text-align: justify;
             }
        }
        #aboutabs{
            position: static ;
            top: 12%;
            left: 50%;
            
        }
       
    } 
 }
  

@media (min-width: 768px) and (max-width: 991.98px) {
    #about{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        #aboutimg{
            width: 60%;
        }
        #aboutside{
            width: 100%;
            h1{
                font-size: 1.5rem; 
             }
             p{
                text-align: justify;
             }
        }
        #aboutabs{
            position: absolute ;
            top: 12%;
            left: 50%;
            
        }
       
    }
  }

@media (min-width: 992px) and (max-width: 1199.98px) {
    #about{
        #aboutside{
            font-family: 'DM Sans';
            h1{
                font-size: 2rem;
                font-weight:600
            }
        }
        #aboutabs{
            top: 30%;
            left: 30%;
        }
    }
}

