@import '_mixins';
@import '_variables';

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box !important;
}


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#message{
    color: #FEECE2;
}
#signuploading{
    .login-overylay{
        @include overlay;
    }
}

#signuploading {
    .login-spinner{
        @include flex;
    }
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FEECE2;
}

#loading{
    @include flex;
    padding-top: 18rem;
    flex-direction: column;
}

body{
    h1{
        color: $primaryColor 
    }
    h2{
        color: $primaryColor 
    }
    h3{
        color: $primaryColor 
    }
    h5{
        color: $primaryColor 
    } 
 
}

.container{
    z-index: 1;
}

#line{
    @include flex;
     img {
      @include line
      }
   }

nav{
    .navbar-brand:hover{
        zoom:1.5
    }
    .navbar-nav{
        font-size: 25px;
    }
    .dropdown-menu{
        font-size:25px;
    }
    .title{
        font-size: 35px;
    }   
}
    
footer{
    margin-top: auto;
    text-align: center;
    z-index: 1;
    .container{
        color: $primaryColor 
    }
    .subscribe{
        color: $primaryColor 
    }
    .facebook{
        @include bounce;    
    }
    .twitter{
        @include bounce;    
    }
    .instagram{
        @include bounce;    
    }
}

#aboutus{
    #aboutus-1, #aboutus-2, #aboutus-3{
        align-items: stretch;
        display: flex;
        flex: 1;
    }
}


#contactus{
    #contact-icon{
       font-size: 30px;
       width: 100%;
       color: #FEECE2;
    }
    p{
        padding-top: 10px;
        color: #FEECE2;
    }
}

.team{
   p{
    color: $primaryColor 
    } 
}

.card-img-top{
    height: 35rem;
    opacity: 0.7;
    &:hover{
        opacity: 1;
    }
}


.outdoor1, .outdoor2, .outdoor3, .outdoor4,
.indoor1, .indoor2, .indoor3, .indoor4,
.jewelry, .shoes, .suit, .necktie, .dress, .crown,
.antikka, .hossam,
.kirolos, .mahmoud
 {
    img{
         height: 30rem;
         width: 100%;
     }
    h1{
        @include shopbtn
    }
}

input[type=text],[type=password],[type=email], select{
    text-align: center;
}



