@import '_mixins';
@import '_variables';

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box !important;
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #282c34;
}



body{
    h1{
        color: $primaryColor 
    }
    h2{
        color: $primaryColor 
    }
    h3{
        color: $primaryColor 
    }
    h5{
        color: $primaryColor 
    } 
    
}
.container{
    z-index: 1;
}

#loading{
    @include flex;
    padding-top: 18rem;
    flex-direction: column;
}

footer{
    margin-top: auto;
    text-align: center;
    z-index: 1;
    .container{
        color: $primaryColor 
    }
    .subscribe{
        color: $primaryColor 
    }
    .facebook{
        @include bounce;    
    }
    .twitter{
        @include bounce;    
    }
    .instagram{
        @include bounce;    
    }
}

nav{
    .navbar-brand:hover{
        zoom:1.5
    }
    .navbar-nav{
        font-size: 25px;
    }
    .dropdown-menu{
        font-size:25px;
    }
    .title{
        font-size: 35px;
    }   
}
.team{
   p{
    color: $primaryColor 
} 
}

#line{
 @include flex;
  img {
   @include line
   }
}

.card-img-top{
    height: 35rem;
    opacity: 0.7;
    &:hover{
        opacity: 1;
    }
}


.outdoor1, .outdoor2, .outdoor3, .outdoor4,
.indoor1, .indoor2, .indoor3, .indoor4,
.jewelry, .shoes, .suit, .necktie, .dress, .crown



 {
    img{
         height: 30rem;
         width: 100%;
     }
    h1{
        @include shopbtn
    }
}




input[type=text],[type=password],[type=email], select{
    text-align: center;
}



html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}